<div class="navbar">
  <div class="cont">
    <div style="flex: 0 0 60%">
      <a class="title-ref" href="/"><i>
          <h2 style="font-weight: 500;">I am You!!</h2>
        </i></a>
    </div>
    <div
      style="flex: 0 0 40%; display: flex; justify-content: end; align-items: center;"
    >
      <div class="nav-links">
        <span style="color: black">Hello <i>{{name}}</i></span>
        <a href="/signout">Sign Out</a>
      </div>
    </div>
  </div>
</div>